@font-face{
    font-family: 'Times New Roman';
}
body{
    font-family: 'Times New Roman';
}
div.container{
    background-color: rgb(205, 202, 202);
    border-radius: 10px;
    width: 50%;    height: 100%;
}
div.todo-list{
    height: 30px;
    font-weight: bold;
    font-style: italic;
   border: 1px solid rgb(100, 186, 135);
   border-width: 1px 2px 1px 8px ;
   font-family:inherit;
   margin-left: auto;
   margin-right: 5px;
}
div.date{
    font-weight: bold;
    font-style: italic;
    border: 1px solid rgb(100, 186, 135);
   border-width: 1px 2px 1px 8px ;
   font-family: inherit;
   margin-left: 5px;
   padding: 4px;
}
input#day,input#date{
    background-color: transparent;
    border-color: transparent;
    outline: 0;
}
input.task-inp{
    width: 80%;
    height: 40px;
    outline: 0;
    font-family: inherit;
    border-radius: 5px;
    border: 3px solid gray ;

}
button.add-btn{
    width: 15%;
    border-radius: 5px;
    height: 40px;
    background-color: rgb(243, 142, 142);
    border: 3px solid gray ;
}
.mt-8{
    margin-top: 8%;
}
ul.list{
    list-style: none;
    width: 90%;
}
ul.list li{
   line-height: 40px;
   padding: 2px 9px 2px 20px ;
   font-family: inherit;
   margin-top: 8px;
   display: flex;
}
ul.list li:nth-child(even){
    background-color: pink;
    border-radius: 50px;
}
ul.list li:nth-child(odd){
    background-color: aquamarine;
    border-radius: 50px;
}
li>input{
    margin-right: 7px;
}
li>button{
    border: 3px solid gray ;
    background-color: rgb(243, 142, 142);
    color: azure;
    font-weight: bold;
    border-radius: 30px;
    margin-left: auto;
    font-size: 12px;
    font-family: inherit;

}