@font-face{
    font-family: 'Times New Roman';
}
body{
    font-family: 'Times New Roman';
}
div.container{
    background-color: rgb(223, 206, 206);
    border-radius: 10px;
    width: 50%;    height: 100%;
}
div.todo-list{
    height: 30px;
    font-weight: bold;
    font-style: italic;
   border: 1px solid rgb(26, 26, 95);
   border-width: 1px 2px 1px 8px ;
   font-family:inherit;
   margin-left: auto;
   margin-right: 5px;
}
div.date{
    font-weight: bold;
    font-style: italic;
   border: 1px solid rgb(26, 26, 95);
   border-width: 1px 2px 1px 8px ;
   font-family: inherit;
   margin-left: 5px;
   padding: 4px;
}
input#day,input#date{
    background-color: transparent;
    border-color: transparent;
    outline: 0;
}
input.task-inp{
    width: 80%;
    height: 40px;
    outline: 0;
    font-family: inherit;
    border-radius: 5px;

}
button.add-btn{
    width: 15%;
    border-radius: 5px;
    height: 40px;
}
.mt-8{
    margin-top: 8%;
}
ul.list{
    list-style: none;
}
ul.list li{
    line-height: 40px;
   padding-left: 20px;
   font-family: inherit;
}
ul.list li:nth-child(even){
    background-color: pink;
    border-radius: 20px;
}
ul.list li:nth-child(odd){
    background-color: aquamarine;
    border-radius: 20px;
}
li>input{
    margin-right: 7px;
}
li>button{
    border: 3px solid gray ;
    background-color: rgb(184, 170, 170);
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 5px;
    width: 20x;
    padding: 0px;
    font-family: inherit;

}